<h2>Nog iets uitlenen?</h2>

<div name="itemDetail" class="col-md-12 input-group">
	<div>
		<div class="row">
			<div class="col-md-3">
				<label for="startDate">Start</label>
				<input
					type = "date"
					datepicker-popup="fullDate"
					id="startDate"
					ng-model="item.startDate"
					placeholder="Uitgeleend op">
			</div>
			<div class="col-md-3">
				<label for="endDate">End</label>
				<input
					type = "text"
					datepicker-popup="fullDate"
					id="endDate"
					ng-model="item.endDate"
					placeholder="Uitgeleend tot">
			</div>
			<div class="col-md-3">
				<label for="item" class="label-inverse">Item</label>
				<input id="item" class="input-medium" ng-model="item.name"></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-12">
			<textarea class="col-md-6" ng-model="item.notes" placeholder="Opmerkingen"></textarea>
			<div class="col-md-3 bgLightGrey">
				<input
					type="file"
					placeholder="File upload"
					upload-file
					types={"img":["jpg","jpeg","bmp","png","gif"],"doc":["doc"],"appl":["pdf"]}
					max-file-size="5">
			</div>
			<div ng-bind="itemFile"></div>
			<div class="col-md-3 bgLightGrey">
				<button class="btn-default btn-success" ng-click="saveItem(item)">Toevoegen</button>
			</div>
		</div>
	</div>
</form>

<h2 ng-cloak>Uitgeleend aan <span ng-bind="contact.name" /></h2>
<table class="table table-striped">
	<tbody class="table-striped table-hover">
	<tr>
		<th>Start datum</th>
		<th>Eind datum</th>
		<th>Item</th>
		<th>Omschrijving</th>
		<th>Foto</th>
		<th>&nbsp;</th>
	</tr>
	<tr ng-repeat-start="item in items | orderByPriority">
		<td class="span2"><div>{{item.startDate | date: 'EEE dd MM yyyy'}}</div></td>
		<td class="span2"><div>{{item.endDate | date: 'EEE dd MM yyyy'}}</div></td>
		<td class="span2"><div ng-bind="item.name"></div></td>
		<td class="span2"><div ng-bind="item.notes" popup-class="alert alert-warning alert-dismissable" show-first="20"></div></td>
		<td class="span2"><img src="{{item.fileSrc}}" title="{{item.fileName}}" alt="{{item.fileName}}" width="50px" zoomin></td>
		<td class="span2"><span class="glyphicon glyphicon-edit" ng-click="editRow=!editRow">&nbsp;</span>&nbsp;
		<span class="glyphicon glyphicon-trash" ng-click="deleteItem(item.$id)">&nbsp;</span></td>
	</tr>
	<tr ng-repeat-end ng-show="editRow">
		<td class="span2"><input type="text" datepicker-popup="fullDate" show-button-bar="false" ng-model="item.startDate"></td>
		<td class="span2"><input type="text" datepicker-popup="fullDate" show-button-bar="false" ng-model="item.endDate"></td>
		<td class="span2"><input type="text" ng-model="item.name"></td>
		<td class="span2"><textarea type="text" ng-model="item.notes"></textarea></td>
		<td class="span2">
			<div class="fileName">{{item.fileName}}&nbsp;<button type="button" class="close" ng-click="item.fileSrc='';item.fileName=''" ng-if="item.fileName">&times;</button></div>
			<input type="file" upload-file types={"img":["jpg","jpeg","bmp","png","gif"],"doc":["doc"],"appl":["pdf"]} max-file-size="5">
		</td>
		<td class="span2"><span class="glyphicon glyphicon-save" ng-click="updateItem(item)">&nbsp;</span></td>
	</tr>
	</tbody>
</table>

<div class="media-body imgZoomed">
	<h4 class="media-heading"></h4>
	<img id="zoomedinimg"/>
</div>
<!--<div ng-include="/app/templates/imgTemplate.html"></div>-->
